
body{

margin: 0px;

}


#wrapper{
  width: 100%;
margin-left: auto;
margin-right: auto;
}
header{
display: flex;
align-items: center;
justify-content: center;
  height:150px;
  width:100%;
  background-color:	#A5A4AB;


}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
height: 50px;
  width:100%;
  background-color:#CCC7D1;

}

main{
height: 450px;
width: 60%;
padding: 15px;
background-color: #A5A4AB;
}

aside{
height: 450px;
padding: 20px;
width: 40%;
background-color: #E2E1EB;
}

footer{
height: 100px;
width:100%;
background-color: #C1C0C8;

}
#container{
display:flex;
}

a {
   font-family: georgia;
  color: Black;
  text-decoration: none;
  font-size: 20px;
}
